<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="TCIPEntities" connectionString="metadata=res://*/TCP.csdl|res://*/TCP.ssdl|res://*/TCP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=USSCLPDDBSGP002\AATSPRD1,14443;Initial Catalog=TCIP;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>