<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MFGTEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=USSCLPDDBSGP002\AATSPRD1,14443;Initial Catalog=MFGT;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="aat_dtfEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=Oresqlserver01;User Id=root;database=aat_dtf;password=admin@work&quot;" providerName="System.Data.EntityClient" />
    <add name="AAT_DTF_ecsEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;User Id=root;password=admin@dtf;server=10.39.165.166;database=AAT_DTF_ecs&quot;" providerName="System.Data.EntityClient" />
    <add name="AAT_DTF_ecsEntities1" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;User Id=root;password=admin@dtf;server=10.39.165.166;database=AAT_DTF_ecs&quot;" providerName="System.Data.EntityClient" />
    <add name="AAT_DTF_ecsEntities2" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;User Id=root;password=admin@dtf;server=10.39.165.166;database=AAT_DTF_ecs&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>